/**
 * @name Neutron
 * @version 8.1
 * @description A simple but highly customizable theme, now sugar free!
 * @author Spectra
 * @invite PZdnCVD
 * @source https://github.com/xcruxiex/themes
 * @website https://betterdiscord.app/theme/Neutron
 *//*
$$\   $$\ $$$$$$$$\ $$\   $$\ $$$$$$$$\ $$$$$$$\   $$$$$$\  $$\   $$\
$$$\  $$ |$$  _____|$$ |  $$ |\__$$  __|$$  __$$\ $$  __$$\ $$$\  $$ |
$$$$\ $$ |$$ |      $$ |  $$ |   $$ |   $$ |  $$ |$$ /  $$ |$$$$\ $$ |
$$ $$\$$ |$$$$$\    $$ |  $$ |   $$ |   $$$$$$$  |$$ |  $$ |$$ $$\$$ |
$$ \$$$$ |$$  __|   $$ |  $$ |   $$ |   $$  __$$< $$ |  $$ |$$ \$$$$ |
$$ |\$$$ |$$ |      $$ |  $$ |   $$ |   $$ |  $$ |$$ |  $$ |$$ |\$$$ |
$$ | \$$ |$$$$$$$$\ \$$$$$$  |   $$ |   $$ |  $$ | $$$$$$  |$$ | \$$ |
\__|  \__|\________| \______/    \__|   \__|  \__| \______/ \__|  \__|
*/
@import url("https://xcruxiex.github.io/themes/themes-cores/neutron8.css");
@import url("https://xcruxiex.github.io/themes/core/badges.css");
@import url("https://xcruxiex.github.io/themes/core/custom-font.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); /* Custom font import link (see fonts.google.com) */
@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css"); /* Radial Status */

/*##########################################################################

                 CHANGE VALUES BELOW TO CUSTOMIZE YOU THEME

##########################################################################*/
:root {
  /* COLORS */
  --themeColor1: #36D1DC; /* Theme's color 1 */
  --themeColor2: #5B86E5; /* Theme's color 2 */

  /* CUSTOM FONT */
  --customFont: 'Open sans', sans-serif; /* Custom font, change the name in 'font name here', you must import the font first */

  /* HOME BUTTON */
  --homeImage: background: rgb(156,23,167);
background: linear-gradient(139deg, rgba(156,23,167,1) 0%, rgba(0,123,252,1) 23%, rgba(164,38,231,1) 38%, rgba(255,64,0,1) 70%, rgba(0,22,255,1) 100%);/* Home button image, must be a direct link | You can also set it to a gradient, google "css gradient"*/
  --homeImageSize: cover;/* To cover the button, set to "cover". You can also set it to "100% 100%" but the image will be stretched. Set to "contain" to see the entire image */

  /* BACKGROUND */
  --background: rgb(156,23,167); /* Background color */
  --backgroundImage:linear-gradient(139deg, rgba(156,23,167,1) 0%, rgba(0,123,252,1) 23%, rgba(164,38,231,1) 38%, rgba(199,42,19,1) 70%, rgba(0,22,255,1) 100%); /* Backround image, must be a direct link | You can also set it to a gradient, google "css gradient"*/
  --backgroundPosition: center; /* Image position | center, left, right, bottom, top */
  --backgroundSize: cover; /* To cover the entire app, set to "cover". You can also set it to "100% 100%" but the image will be stretched. Set to "contain" to see the entire image */
  --backgroundRepeat: no-repeat; /* if you want the image to repeat | Google "css background repeat" */
  --backgroundBlur: 100px; /* Set to 0 to remove blur | Set to 10px for average blur */
  --backgroundOpacity: .65; /* 0 is transparent */

  /* CODE BLOCKS */
  --backgroundCode: rgba(0,0,0,.5);
  --backgroundName: rgba(0,0,0,.5);
}
